.insta-slide {
    padding: 10px;
}

.insta-slide img {
    height: 150px;
    width: 100%;
}

.insta-slide a {
    text-align: center;
    position: relative;
}

.insta-slide a::before {
    content: url('/images/instagram2.png');
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0;
    height: 0;
    background: #ff000078;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.insta-slide a:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    bottom: 0;
    left: 0;
}
.hair-section-cta {
    background: url('/images/bgcta.jpg')no-repeat bottom center/cover fixed;
}
.shine {
    background: linear-gradient(90deg, transparent 10%, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%, transparent 90%);
background-size: 500px;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255,255,255,0.5);
animation: shine 3s linear infinite;
}

h2.title {
font-size: 65px;
font-weight: 600;
text-transform: uppercase;
}

@keyframes shine {
0% {background-position: 500px;}
to {background-position: -500px;}
}

@media screen and (max-width:767px){
    
    h2.title {
        font-size: 25px;
        }
}