@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h2.title-font {
  font-size: 35px;
  font-weight: 600;
}
h2.title-font {
  position: relative;
  text-transform: uppercase;
  animation: aniload 3s;
}

h2.title-font::before {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 39%;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  background-image: linear-gradient(180deg,rgba(0,0,0,.0) 10%,rgba(0,0,0,.5));
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@keyframes aniload {
from {
  transform: translate(-1000px, 0px)
}
to {
  transform: translate(0px, 0px)
}
}



@media screen and (max-width:767px) {
  [class^="section"] {
    padding: 2em 1em;
}
}