@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h2.title-font {
  font-size: 65px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  animation: aniload 3s;
}

h2.title-font::before {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 39%;
  text-align: inherit;
  width: 100%;
  height: 100%;
  transform: rotate3d(1, 0, 0, 126deg);
  background-image: linear-gradient(180deg,rgba(0,0,0,.0) 10%,rgba(0,0,0,.5));
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.section-hair-partners {
  background: #f5f5f5;
}
.partner-img {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 40px -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-img img {filter: sepia(1);transition: 0.3s;}

.partner-img:hover img {
    filter: sepia(0);
}
.team-image {
  position: relative;
}

.team-image .team-name {
  writing-mode: vertical-lr;
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 30px;
  font-weight: 500;
}

.team-image::before {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, #d0a000, transparent);
  z-index: -1;
  transition: 0.3s;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.team-image:hover::before {
  height: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: url('/images/saloon 4.jpg')no-repeat center center/cover;
}
.team-image:hover .team-name{
  color: #fff;
}
[class^="section"] {
  overflow: hidden;
}
.mobile-div{
  display: none;
}


@media screen and (max-width:767px) {
  [class^="section"] {
    padding: 2em 1em;
}

.hair-section-cta.py-8 {
  overflow: hidden;
}


div#txt {
  font-size: 25px;
}

h2.title {
  font-size: 25px;
}

.team-image .team-name {
  font-size: 18px;
  top: 30px;
}
.hair-section-team {
  padding: 2em 1em;
}
.mobile-div{
  display: block;
}
.desktop-div{
  display: none;
}
.mobile-div .slick-slider .slick-slide {
  padding: 10px;
}

.mobile-div .partner-img {
  padding: 10px;
  height: 80px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
}